<app-content>
  <div class="card-title">{{menuItem.title}}</div>
  <div class="card-subtitle">{{'List' + menuItem.description}}</div>
  <div class="content">
    <table class="table is-striped is-fullwidth">
      <thead>
      <tr>
        <th *ngFor="let key of keys">{{key}}</th>
        <th>actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let contact of contacts">
        <th>{{contact.id}}</th>
        <th>{{contact.email}}</th>
        <th>{{contact.telephone}}</th>
        <th>{{contact.createdAt | date}}</th>
        <th>{{contact.updatedAt | date}}</th>
        <th>{{contact.deletedAt | date}}</th>
        <th style="text-align: center;">
          <div class="field is-grouped">
            <div class="control">
              <a [routerLink]="['/contact', contact.id]" href="" class="button is-small is-link">Editar</a>
              <button (click)="remove(contact.id)" class="button is-small is-danger">Remover</button>
            </div>
          </div>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</app-content>
