<app-content>
  <div class="card-title">{{menuItem.title}}</div>
  <div class="card-subtitle">{{'List' + menuItem.description}}</div>
  <div class="content">
    <table class="table is-striped is-fullwidth">
      <thead>
      <tr>
        <th *ngFor="let key of keys">{{key}}</th>
        <th>actions</th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let file of files">
          <th>{{file.id}}</th>
          <th>{{file.url}}</th>
          <th>{{file.createdAt | date}}</th>
          <th>{{file.deletedAt | date}}</th>
          <th style="text-align: center;">
            <div class="field is-grouped">
              <div class="control">
                <a [routerLink]="['/file', file.id]" href="" class="button is-small is-link">Editar</a>
                <button (click)="remove(file.id)" class="button is-small is-danger">Remover</button>
              </div>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</app-content>
