<app-content>
  <div class="card-title">{{menuItem.title}}</div>
  <div class="card-subtitle">{{'Add' + menuItem.description}}</div>
  <div class="card-icon">{{menuItem.icon}}</div>
  <div class="content">
    <form [formGroup]="formGroup" (submit)="save()">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="person.name" formControlName="name"
                 placeholder="Ex.: Cancer Institution">
        </div>
      </div>

      <br>
      <label class="label">Contact</label>
      <br>
      <div class="field is-grouped">
        <div class="control">
          <label class="label">Telephone</label>
          <input class="input" type="text" mask="+00 (00) 000-0000" formControlName="telephone"
                 [(ngModel)]="person.contact.telephone" placeholder="Ex.: +55 (99) 999-9999">
        </div>
        <div class="control">
          <label class="label">E-mail</label>
          <input class="input" type="text" formControlName="email"
                 [(ngModel)]="person.contact.email" placeholder="Ex.: test@email.com">
        </div>
      </div>

      <br>
      <label class="label">File</label>
      <br>
      <div class="field is-grouped">
        <div class="control">
          <label class="label">URL</label>
          <input class="input" type="text" [(ngModel)]="person.file.url" formControlName="url"
                 placeholder="Ex.:https://test-image.com/image.png">
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>
    </form>
  </div>
</app-content>
