<app-content>
  <div class="card-title">{{menuItem.title}}</div>
  <div class="card-subtitle">{{'List' + menuItem.description}}</div>
  <div class="content">
    <table class="table is-striped is-fullwidth">
      <thead>
      <tr>
        <th *ngFor="let key of keys">{{key}}</th>
        <th>actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let welcomingAvailable of welcomingsAvailables">
        <th>{{welcomingAvailable.id}}</th>
        <th>{{welcomingAvailable.onChat}}</th>
        <th>{{welcomingAvailable.welcoming.id}}</th>
        <th>{{welcomingAvailable.welcoming.person.id}}</th>
        <th>{{welcomingAvailable.welcoming.person.contact.id}}</th>
        <th>{{welcomingAvailable.welcoming.person.file.id}}</th>
        <th>{{welcomingAvailable.createdAt | date}}</th>
        <th>{{welcomingAvailable.updatedAt | date}}</th>
        <th>{{welcomingAvailable.deletedAt | date}}</th>
        <th style="text-align: center;">
          <div class="field is-grouped">
            <div class="control">
              <a [routerLink]="['/welcomings-availables', welcomingAvailable.id]" href="" class="button is-small is-link">Editar</a>
              <button (click)="remove(welcomingAvailable.id)" class="button is-small is-danger">Remover</button>
            </div>
          </div>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</app-content>
