<!--TOP BAR-->
<section class="hero is-primary">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-12">
        <div class="container content">
          <i class="is-large fas fa-code"></i>
          <h1 class="title">We Help!</h1>
<!--          <h5 class="subtitle"><em>by Douglas Martins</em></h5>-->
          <h3 class="subtitle">
            Helping people to talk about they problems.
          </h3>
          <a href="https://github.com/douglas-martins" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
            <span>Github</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--TOP BAR-->
